<html>
  <head>
    <title>
      Masterton Open Source Technology
    </title>
        <link rel="icon" href="/favicon.ico">
  </head>
  <body>
    <h1>
      Masterton Open Source Technology
    </h1>
    <p>
      The digital marketers you need to meet sales targets!
    </p>
    <h2>
      Get your free consultation from our local staff
    </h2>
    <form action='http://formspree.io/sales@mostengineers.com' method='post'>
      <label>Name</label>
      <input type="text" name="name">
      <label>Email</label>
      <input type="email" name="_replyto">
      <input type="submit" value="Send">
    </form>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-W2L2W3"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W2L2W3');</script>
    <!-- End Google Tag Manager -->
  </body>
</html>
